# Игнорируем папку с зависимостями
node_modules/

# Игнорируем файл переменных окружения
.env

# Игнорируем файлы логов
*.log

# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем директории сборки (если они есть)
dist/
build/

# Игнорируем временные файлы редактора (опционально)
*.swp
